<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <table>
            <tr>
            {{range $key,$value := .FieldMap}}
                <th>{{$key}}</th>
            {{end}}
            </tr>
            {{printf "{{range .%s}}" .Name}}
            <tr>
            {{range $key,$value := .FieldMap}}
                <td>{{printf "{{.%s}}" $key}}</td>
            {{end}}
            </tr>
            {{printf "{{end}}"}}
        </table>
    </div>
</body>
</html>