<div class="container">
    <a href="/users/new" class="btn btn-info">new</a>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PASSWORD</th>
            <th>Money</th>
            <th>Age</th>
            <th>Gender</th>
            <th>OPERATING</th>
        </tr>
        {{range .users}}
        <tr>
            <td><a href="/users-show/{{.ID}}" class="btn btn-link">{{.ID}}</a></td>
            <td>{{.Name}}</td>
            <td>{{.Password}}</td>
            <td>{{.Money}}</td>
            <td>{{.Age}}</td>
            <td>{{.Gender}}</td>
            <td>
                <input type="button" value="删除" class="btn btn-danger btn-remove" data-id="{{.ID}}">
                <a href="/users-edit/{{.ID}}" class="btn btn-warning">编辑</a>
            </td>

        </tr>
        {{end}}
    </table>
</div>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btn-remove").on('click', function (e) {
            e.preventDefault();
            $.ajax({
                url: '/users/' + $(this).data("id"),
                type: 'DELETE',
                success: function (response, textStatus, jqXHR) {
                    if (response == "success") {
                        $(".btn-remove").parent().parent().remove();
                    }
                },
                error: function (requestObject, error, errorThrown) {

                }
            });
        });
    });
</script>
