<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
</head>
<body>


<div>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PASSWORD</th>
            <th>Money</th>
            <th>Age</th>
            <th>Gender</th>
            <th>OPERATING</th>
        </tr>
        {{range .users}}
        <tr id="{{.ID}}">
            <td><a href="/users/{{.ID}}">{{.ID}}</a></td>
            <td>{{.Name}}</td>
            <td>{{.Password}}</td>
            <td>{{.Money}}</td>
            <td>{{.Age}}</td>
            <td>{{.Gender}}</td>
            <td>
                <input type="button" value="添加" onclick="location.href='/users-new'">
                <input type="button" value="删除" class="delete" onclick="deleteUser('{{.ID}}')">
                <input type="button" value="编辑" onclick="location.href='/users-edit/{{.ID}}'">
            </td>
        </tr>
        {{end}}
    </table>
</div>

<script  src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    function deleteUser(id) {
        $.ajax({
            url: '/users/' + id,
            type: 'DELETE',
            success: function (response) {
                if (response == "ok"){
                    var tr = document.getElementById(id);
                    tr.remove();
                }
            }
        });
    }

</script>
</body>
</html>