<div class="container">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PASSWORD</th>
            <th>Money</th>
            <th>Age</th>
            <th>Gender</th>
        </tr>
        <tr>
            <td>{{.user.ID}}</td>
            <td>{{.user.Name}}</td>
            <td>{{.user.Password}}</td>
            <td>{{.user.Money}}</td>
            <td>{{.user.Age}}</td>
            <td>{{.user.Gender}}</td>
        </tr>
    </table>
</div>