<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.title}}</title>

</head>
<body>
<div>
    <form action="/articles" method="post">
        <input type="text" name="title">
        <input type="text" name="content">
        <input type="submit" value="添加文章">
    </form>
</div>

<div>
    <form action="/articles" method="post" onsubmit="return validateForm()">
        <input id="key" type="text" name="key" placeholder="查询" onclick="">
        <input type="submit" value="查询" >
    </form>
</div>


<div>
    <table>
        <tr>
            <th>标题</th>
            <th>内容</th>
            <th>操作</th>
        </tr>
        {{range .articles}}
        <tr id="{{.Id}}">
            <td>{{.Title}}</td>
            <td>{{.Content}}</td>
            <td>

                <input type="button" value="删除" class="delete" onclick="deleteArticle('{{.Id}}')">
                <input type="button" value="编辑" onclick="location.href='/articles-edit/{{.Id}}'">
            </td>
        </tr>
        {{end}}
    </table>
</div>
<p id="pid">adfdadfadsf</p>

<script  src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>

    function deleteArticle(id) {
        $.ajax({

            url: '/articles/' + id,
            type: 'DELETE',
            success: function (response) {
                if (response == "ok"){
                    var td = document.getElementById(id);
                    td.remove();
                }

            }
        });
    }


</script>

</body>

</html>