<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  id="fileForm">
    <input type="text" value="{{.article.Title}}" name="title" id="title">
    <input type="text" value="{{.article.Content}}" name="content" content="content">
    <!--<input type="hidden" name="_post" value="PUT">-->
    <!--<input type="submit">-->
</form>
<button  onclick="putBtn('{{.article.Id}}');">提交</button>
<script  src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    function putBtn(data) {
        $.ajax({
            type:'PUT',
            url: '/articles/' + data,
            data:$('#fileForm').serialize(),
            success: function(response) {
                if (response == "ok"){
                    alert("ok");
                    $("#fileForm")[0].reset();
                }
            }});
    }



</script>
</body>

</html>