<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.title}}</title>
</head>

<body>
<form  id="modelForm" >
    [[$name := .UnderscoreName]]
    [[range $key,$value := .FieldMap]]
     <input type="text" value="{{.[[$name]].[[$key]]}}" name="[[$value]]">
    [[end]]
</form>
<button  onclick="put[[.ModelName]]('{{.[[.ModelName]].ID}}');">提交</button>
<script  src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    function put[[.ModelName]](data) {
        $.ajax({
            type:'PUT',
            url: '/[[.PluralizeName]]/' + data,
            data:$('#modelForm').serialize(),
            success: function(response) {
                window.location.href = "/"
        }});
    }
</script>
</body>

</html>