<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.title}}</title>
</head>
<body>
    <div>
        <input id="key" type="text" name="key" placeholder="查询" >
        <input type="button" value="查询" onclick="get[[.PluralizeTitle]]()">
    </div>
    <div>
        <table>
            <tr>
            [[range $key,$value := .FieldMap]]
                <th>[[$key]]</th>
            [[end]]
                <th>OPERATING</th>
            </tr>
            {{range .[[.PluralizeName]]}}
            <tr>
            [[range $key,$value := .FieldMap]]
                <td>{{.[[$key]]}}</td>
            [[end]]
                <td>
                    <input type="button" value="添加" onclick="location.href='/[[.PluralizeName]]-new'">
                    <input type="button" value="删除" class="delete" onclick="delete[[.ModelName]]('{{.ID}}')">
                    <input type="button" value="编辑" onclick="location.href='/[[.PluralizeName]]-edit/{{.ID}}'">
                </td>
            </tr>
            {{end}}
        </table>
    </div>
    <script  src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        function delete[[.ModelName]](id) {
            $.ajax({
                url: '/[[.PluralizeName]]/' + id,
                type: 'DELETE',
                success: function (response) {
                    if (response == "ok"){
                        var tr = document.getElementById(id);
                        tr.remove();
                    }
                }
            });
        }

        function get[[.PluralizeTitle]](){
            var key = $('#key').val();
            window.location.href = "/[[.PluralizeName]]/" + key

        }


    </script>
</body>
</html>

