<div class="container">
    <a href="/[[.PluralizeName]]/new" class="btn btn-info">new</a>

    <table class="table">
        <tr>
            [[range $key,$value := .FieldMap]]
            <th>[[$key]]</th>
            [[end]]
            <th>OPERATING</th>
        </tr>
        {{range .[[.PluralizeName]]}}
        <tr>
            <td><a href="/[[.PluralizeName]]-show/{{.ID}}" class="btn btn-link">{{.ID}}</a></td>
            [[range $key,$value := .FieldMap]][[if ne $key "ID"]]
            <td>{{.[[$key]]}}</td>
            [[end]][[end]]
            <td>
                <input type="button" value="删除" class="btn btn-danger btn-remove" data-id="{{.ID}}">
                <a href="/[[.PluralizeName]]-edit/{{.ID}}" class="btn btn-warning">编辑</a>
            </td>

        </tr>
        {{end}}
    </table>
</div>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btn-remove").on('click', function (e) {
            e.preventDefault();
            $.ajax({
                url: '/[[.PluralizeName]]/' + $(this).data("id"),
                type: 'DELETE',
                success: function (response, textStatus, jqXHR) {
                    if (response == "success") {
                        $(".btn-remove").parent().parent().remove();
                    }
                },
                error: function (requestObject, error, errorThrown) {

                }
            });
        });
    });
</script>
