<table class="table">
    <tr>
        [[range $key,$value := .FieldMap]]
        <th>[[$key]]</th>
        [[end]]
    </tr>
    {{range .[[.PluralizeName]]}}
    <tr>
        <td><a href="/[[.PluralizeName]]-show/{{.ID}}" class="btn btn-link">{{.ID}}</a></td>
        [[range $key,$value := .FieldMap]][[if ne $key "ID"]]
        <td>{{.[[$key]]}}</td>
        [[end]][[end]]
    </tr>
    {{end}}
</table>